<head>
	<meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
   <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
		<link rel="stylesheet" href="css/navbar.css">
		<link rel="stylesheet" href="css/signup.css">

	<title>Pokemon Team Builder</title>
    <style>
        body {
          background-image: url('https://assets.pokemon.com//assets/cms2/img/misc/virtual-backgrounds/sword-shield/pokemon-in-the-wild.png');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
        }
        </style>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
		 <nav class="navbar navbar-expand-lg">
           <li class="nav-item">
            <a class="nav-link" href="/">H O M E</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/team">T E A M S</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search">S E A R C H</a>
          </li>
        </ul>
              <img src="Pokemon-logo.png" class="logo" alt="">

        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/register" class="user-connect"
              ><span class="glyphicon glyphicon-user"></span> S i g n U p</a
            >
          </li>
          <li>
            <a href="/login" class="user-connect"
              ><span class="glyphicon glyphicon-log-in"></span> L o g i n</a
            >
          </li>
        </ul>
      </div>
    </nav>

	{{{ body }}}
	
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>