<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Pokemon Team Builder</title>
    </head>
    <body>
        <div class="container">
            <header>
            <h1 class="website-title">Welcome to Pokemon Team Builder</h1>
             
            </header>
            <section>
                <div>
              <h3>This is a team buliders application that basically allows a player to build his or her own team made up of their favorite Pokemon and also view others people teams.</h3>
              <h3>This application was develop by Andrea Poklar , Rohith Kurian , Keith Smart and Anderson Buzzi.</h3>
              </div>
            </section>
        </div>
    </body>
    </html>