<<<<<<< HEAD
<link rel="stylesheet" href="css/signup.css">

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form>
                <p class="heading">Login</p>
                  <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="text" class="form-control" name="email" id="email" placeholder="Email Address">
                </div>

                <div class="form-group">
                    <label for="pw">Password</label>
                    <input type="password" class="form-control" name="pw" id="pw">
                </div>

                
                    
                
                

                <div class="btn-align">
                <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>



=======
Login
>>>>>>> 3300d3796b61be80db1d8c85e9eba235ddbe827e
