<link rel="stylesheet" href="css/search.css">
<div class="container">
    <h1>Search Pokémon </h1>
    <div>
        <div id="search-pokemon">
            <input id="search" class="searchInput" placeholder="ex. Charmander" /> 
            <div>
                <button id="submit"> Search</button>
            </div>
        </div>

     <div id="card-container">
         
     </div>       
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="api/search.js"></script>
 
  