<link rel="stylesheet" href="css/search.css">
<div class="container">
    <h1>Search Pokémon </h1>
    <div>
        <div id="search-pokemon">
            <input id="search" class="searchInput" placeholder="ex. Charmander" /> 
            <div>
                <button id="submit"> Search</button>
            </div>
        </div>

     <div id="card-container">
         
     </div>       
    </div>
<<<<<<< HEAD
    <ul id="charactersList"></ul>
    <nav>
        <button type="submit">login</button>
    </nav>

</div>

=======
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="api/search.js"></script>
>>>>>>> a8836cd2f13d2c87fce6753dcde11660d50d207c
 
  