<div class="container">
    <h1>Pokeman Characters</h1>
    <div id="searchWrapper" class="primary">
        <input
        type="text"
        name="searchBar"
        id="search for a character" />
    </div>
    <ul id="charactersList"></ul>
    <nav>
        <button type="submit">login</button>
    </nav>

</div>

 
  