.navbar {
  background: black;
}

.logo {
  width: 150px;
}

.nav-link {
  margin: 5px;
  font-size: 18px;
}

.user-connect {
  color: white;
}

.nav li a:focus,
.nav li a:hover {
  background-color: #343a40;
  color: white;
}
